<!-- app/views/restaurants/index.html.erb -->
<div class="container">
  <div class="row">
    <div class="col-4 offset-4">
      <h1>Restaurants</h1>

      <ul>
        <% @restaurants.each do |restaurant| %>
          <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
        <% end %>
      </ul>

    </div>
  </div>
</div>
